<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <meta name="author" content="Nickolas Means" />
  <meta name="description" content="A blog ostensibly about code and beer." />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/nickolas.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="stylesheet" href="/webfonts/ss-social.css" type="text/css" />
  <link rel="stylesheet" href="/webfonts/ss-standard.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/wvq4eyf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript" src="/webfonts/ss-social.js"></script>
  <script type="text/javascript" src="/webfonts/ss-standard.js"></script>

</head>

<body>
  <div id="main">
    <h1><a href="/">NICKOL.AS</a></h1>
    <section id="sidebar">
      <section id="photo">
        <img src="/images/nickolas2.jpg" alt="Picture of Nickolas Means" />
      </section>
      <section id="about">
        Hello, I'm <strong>Nickolas Means</strong>.<br/>
        I'm a Rubyist from Austin, TX.<br/>
        <a href="https://github.com/nmeans" class="ss-icon ss-social">octocat</a>
        <a href="https://twitter.com/nmeans" class="ss-icon ss-social">twitter</a>
        <a href="http://www.linkedin.com/in/nickolasmeans" class="ss-icon ss-social">linkedin</a>
      </section>
      <section id="sections">
        <ul>
          <li><a href="/about.html" class="ss-openbook"> About</a></li>
          <!-- <li><a href="/archive.html" class="ss-calendar"> Archive</a></li> -->
          <li><a href="/atom.xml" class="ss-rss"> Feed</a></li>
        </ul>
      </section>
    </section>
    {{ content }}
  </div>
</body>

</html>