---
layout: layout
---

<section class="content">
  <section class="text-post">
    <span class="dateline">{{ page.date | date: "%Y-%m-%d" }}</span>

    <div class="post-body text-post">
      <h2>
        {% if page.external-url %}
          <a href="{{ page.external-url }}" class="ss-link"> {{ page.title }}</a>
        {% else %}
          {{ page.title }}
        {% endif %}
      </h2>


      {{ content }}
    </div>

    <section id="meta">
      <h4>About</h4>
      <section class="copy">
        <p>
          I'm a developer at <a href="http://activeprospect.com">ActiveProspect</a> in Austin.<br/>
          You should <a href="https://twitter.com/nmeans">follow me on Twitter</a>!
        </p>

        <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="nmeans">Tweet</a>
        <a href="http://twitter.com/nmeans" class="twitter-follow-button" data-show-count="false">Follow @nmeans</a>
        <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
      </section>
    </section>
  </section>
</section>